.user_info_avatar {
  width: 48px;
  height: 48px;
  border-radius: 10px;
}

.user_info_loading {
  font-size: 18px;
  width: 48px;
  height: 48px;
  color: #b9b6b6;
  margin-top: 12px;
  margin-left: 24px;
}
