.secondary_button {
  color: white;
  background-color: #25252d;
  border: none;
  border-radius: 10px;
  padding: 8px;
  transition: 0.5s;
  opacity: 1;
}

.secondary_button.disabled {
  opacity: 0.4;
  cursor: auto;
}

// .secondary_button:hover:not(.disabled) {
//   box-shadow: 0px 0px 2px 2px #6b6b6d;
// }
