@import "@/scss/constants.scss";

.detail_tile_image {
  border-radius: 10px;
}

.detail_description_container {
  background-color: $secondary_background_color;
  padding: 24px;
  border-radius: 10px;
}

.description_text {
  margin-top: 12px;
  color: #bdbdbd;
}

.detail_loading {
  font-size: 16px !important;
  width: 64px !important;
  height: 64px !important;
  color: #b9b6b6;
  margin-top: 32px;
}

.detail_description_loading {
  font-size: 12px !important;
  width: 48px !important;
  height: 48px !important;
  color: #b9b6b6;
}

.detail_description_loading_small {
  font-size: 12px !important;
  width: 32px !important;
  height: 32px !important;
  color: #b9b6b6;
}

.sold_text {
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
  color: rgb(98, 216, 143);
}

.canceled_text {
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
  color: #e02e2e;
}
