// skeleton

.load-wraper {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #474b58;
  z-index: 1;
  overflow: hidden;
}
.activity {
  position: absolute;
  left: -45%;
  height: 100%;
  width: 45%;
  background-image: linear-gradient(
    to left,
    rgba(105, 104, 104, 0.05),
    rgba(95, 92, 92, 0.3),
    rgba(143, 141, 141, 0.6),
    rgba(95, 92, 92, 0.3),
    rgba(105, 104, 104, 0.05)
  );
  background-image: -moz-linear-gradient(
    to left,
    rgba(105, 104, 104, 0.05),
    rgba(95, 92, 92, 0.3),
    rgba(143, 141, 141, 0.6),
    rgba(95, 92, 92, 0.3),
    rgba(105, 104, 104, 0.05)
  );
  background-image: -webkit-linear-gradient(
    to left,
    rgba(105, 104, 104, 0.05),
    rgba(95, 92, 92, 0.3),
    rgba(143, 141, 141, 0.6),
    rgba(95, 92, 92, 0.3),
    rgba(105, 104, 104, 0.05)
  );
  animation: loading 1s infinite;
  z-index: 45;
}

@keyframes loading {
  0% {
    left: -45%;
  }
  100% {
    left: 100%;
  }
}
