@import "@/scss/constants.scss";

.main_content {
  padding-left: 120px;
  padding-right: 120px;
  margin-top: $header_height;
}

@media only screen and (max-width: 767px) {
  .main_content {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media only screen and (max-width: 575px) {
  .main_content {
    padding-left: 12px;
    padding-right: 12px;
  }
}
